<!DOCTYPE html>
<html>



	<head>



		<title>survey_settings_menu</title>

		<link rel="stylesheet" type="text/css" href="/styles/surveySettings/style.css" />

	
		<script
		src="https://code.jquery.com/jquery-latest.js">
		</script>

	
		<script>
		function sizeContent() {
			var newHeight = $("html").height() + "px";
			$("body").css("min-height", newHeight); 
		}
	 	</script>


	 	<script>
			$(document).ready(function () {
 			 sizeContent();
 			 $(window).resize(sizeContent);
			});
		</script>
	


	</head>



	<body>

		<a>SurveySettings</a>
	
	</body>
	

	
</html>









